@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  font-family: "Quicksand", sans-serif;
}
html {
  scroll-behavior: smooth;
}

.main-container {
  /* - header - menu - footer */
  min-height: calc(100vh - 48px - 24px - 36px);
}
.no-caret {
  caret-color: transparent; /* Ẩn con trỏ nhấp nháy */
}
/* 
.ant-select-clear {
  top: 40% !important;
} */

.ant-table-row-level-0 {
  background-color: inherit;
}

.ant-table-tbody > tr.ant-table-row:hover > td,
.ant-table-tbody > tr > td.ant-table-cell-row-hover {
  background-color: inherit;
}

.ant-table-cell-fix-left {
  background-color: inherit;
}

.ant-table-tbody > tr.ant-table-row-selected:hover > td {
  background: #dcf4ff !important;
}

.ant-table-tbody {
  background: white !important;
}

/* 
.ant-btn {
  border-radius: 4px !important;
} */

.ant-modal-footer {
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center !important;
}

#app {
  background-color: #f5f5f5 !important;
}

/* width */
::-webkit-scrollbar {
  z-index: 10000;
  width: 0.5rem;
  height: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  z-index: 10000;
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  z-index: 10000;
  border-radius: 0.25rem;
  background: rgb(228, 225, 225);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* code heart */
body {
  margin: 0;
  background-color: #f0f0f0;
  font-family: "Quicksand", sans-serif;
}

#heart-container {
  position: relative;

  overflow: auto;
}

.heart {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url("assets/bg-icon.png");
  background-size: cover;
  background-repeat: no-repeat;
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

/*slide */
.slick-list {
  overflow: hidden; /* Ẩn mọi nội dung tràn ra ngoài */
}

.slick-slider {
  position: relative;
  display: block;
  height: 100%;
  background: none; /* Đảm bảo nền không gây ra hiện tượng chớp */
}
.slide-image {
  width: 100%; /* Giới hạn chiều rộng của ảnh */
  height: 700px; /* Giữ tỉ lệ của hình ảnh */
  object-fit: cover;
}

.slide img {
  width: 100%; /* Giới hạn chiều rộng của ảnh */
  max-height: 600px; /* Limit the height to 800px */

  object-fit: contain;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border: none;
  width: 70px; /* Đảm bảo kích thước nút đồng nhất */
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-dots li button:before {
  color: #fff; /* Đổi màu các dấu chấm */
}

.slick-dots li button:before {
  color: #fff; /* Đổi màu các dấu chấm */
}

.slick-slider .slick-prev {
  position: absolute;
  left: 30px !important; /* Đảm bảo nó được đặt ở bên trái */
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.slick-slider .slick-next {
  position: absolute;
  right: 60px !important; /* Đảm bảo nó được đặt ở bên phải */
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  border: none;
}
.slick-prev:before,
.slick-next:before {
  font-size: 50px !important; /* Tăng kích thước của biểu tượng mũi tên */
  color: black; /* Màu sắc của biểu tượng mũi tên */
}

.slider-container {
  position: relative;
}

.wedding-names {
  font-family: "Georgia", serif; /* Chọn một font chữ thanh lịch cho tên */
  font-size: 20px; /* Kích thước chữ nhỏ hơn */
  color: #000; /* Màu sắc chữ */
  margin-top: 10px; /* Khoảng cách giữa chữ "Wedding" và tên */
}

/* calenda*/
.react-calendar__navigation {
  display: none !important;
}
.react-calendar {
  width: 100% !important;
}
/* Ensure the rest of the calendar looks good */

.react-calendar__month-view__days__day--weekend {
  color: inherit !important;
}
.react-calendar__tile--rangeBothEnds {
  background: none !important; /* Màu sắc chữ */
}
.react-calendar__tile--rangeBothEnds abbr {
  color: #fff;
  background: #dcbdc5 !important; /* Màu sắc chữ */
  padding: 8px 15px;
  border-radius: 100%;
}
.react-calendar__tile:disabled {
  background: none !important; /* Màu sắc chữ */
}
.react-calendar__tile {
  color: gray !important; /* Thay đổi màu chữ của tất cả các ngày thành màu xám */
}

.react-calendar__tile:disabled {
  color: gray !important; /* Nếu có ô nào bị disable, bạn có thể thay đổi màu ở đây */
}
.hidden-left {
  opacity: 0;
  transform: translateX(-100px);
}

.hidden-right {
  opacity: 0;
  transform: translateX(100px);
}

.visible {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
@keyframes blink-border {
  0%,
  100% {
    box-shadow: 0 0 10px 5px rgba(200, 50, 70, 0.4); /* Subtle shadow */
  }
  50% {
    box-shadow: 0 0 15px 8px rgba(217, 142, 161, 0.6); /* Brighter pink glow */
  }
}

.animate-blink-border {
  animation: blink-border 1s infinite;
}
